name: Quarto Publish
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    container:
      image: mbrede/quarto-render:latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Collect and Install Python dependencies
        run: /workspace/req-venv/bin/python3 /workspace/collect_python_deps.py

      - name: Collect and Install R packages
        run: Rscript /workspace/collect_r_deps.R

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
